django==5.1.7
django_session_timeout
cryptography
eciespy
django-user-agents 
pyyaml 
ua-parser 
user-agents
django-otp 
pyotp 
qrcode
python-json-logger
python-logstash
sentry-sdk
whitenoise
crum 
elasticsearch==7.17.9
python-json-logger
structlog==23.1.0
django-structlog==4.0.0
django-auditlog
django-request-logging==0.7.0
unicorn==0.29.0